<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="./style.css"></link>
        <link rel="shortcut icon" href="images/favicon.png"> -->
</head>

<body>
    <canvas id='canvas'></canvas>
    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        let gameCycle = 0;
        let steps = 100;
        let eachStepRadian;
        let radius = 60;
        let innerRadius = 100;
        const cX = canvas.width / 2;
        const cY = canvas.height / 2;
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        window.addEventListener('resize', () => {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        })


        function drawStar() {
            // needs to be reset whenever steps change
            eachStepRadian = (2 * Math.PI) / steps;

            ctx.clearRect(0, 0, canvas.width, canvas.height) // clear canvas before drawing new star
            ctx.beginPath();

            // batch drawings together for performance sake
            for (let i = 0; i < steps + 1; i += 1) {
                let xHalf = radius * (parseInt(Math.random() * 100) / 100) * Math.cos((i * eachStepRadian) - eachStepRadian / 2);
                let yHalf = radius * (parseInt(Math.random() * 100) / 100) * Math.sin((i * eachStepRadian) - eachStepRadian / 2);
                let x = radius * Math.cos(i * eachStepRadian);
                let y = radius * Math.sin(i * eachStepRadian);

                // line to half the next step and specified percentage of the radius
                ctx.lineTo(cX + xHalf, cY + yHalf)

                // line to next stepRadian
                ctx.lineTo(cX + x, cY + y)
            }

            ctx.strokeStyle = 'black';
            ctx.fillStyle = 'yellow';
            ctx.lineWidth = 2;
            ctx.stroke();
            ctx.fill();
            requestAnimationFrame(drawStar)
        }

        requestAnimationFrame(drawStar);
    </script>
</body>

</html>