body {
    margin: 0px;
    overflow: hidden;
    overscroll-behavior: none;
    position: fixed;
}

#grid-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#stage {
    position: absolute;
    left: 0;
    top: 0;
}

#enemy-stage {
    width: 100vw;
    height: 100vh;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
}

#player-stage {
    width: 100vw;
    height: 100vh;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
}

#gameover-banner {
    position: absolute;
}

#game-controls {
    position: absolute;
    padding: 10px;
    border-bottom-right-radius: 50px;
    width: 36vw;
    left: 6vw;
}

#invincibility-label {
    display: inline-block;
    margin: 0;
    color: white;
}

#invincibility-meter {
    width: 330px;
    height: 20px;
    border: 2px solid white;
    margin-right: 17px;
    display: inline-block;
    line-height: 100%;
    margin: 5px;
    width: 95%;
}

#invincibility-meter.empty {
    border: 2px solid #7a49da;
    box-shadow: 0px 0px 6px rgb(180, 17, 17);    
}

#invincibility-left {
    background: linear-gradient(45deg, #79ff7070, #0aff29f2);
    width: 0%;
    max-width: 100%;
    height: 100%;
    /* border-top-right-radius: 19px; */
    margin: 1px;
}

#level-display {
        /* display: none; */
        position: absolute;
        right: 28vw;
        top: 2vh;
        padding: 20px;
        /* background: #0000008f; */
        border-bottom-left-radius: 50px;
        color: white;
}

#dev-controls {
    display: none;
}

#level-display h4{
    margin: 0px;
    margin-left: 10px;
    display: inline-block;
}

#game-over-menu {
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: #2c2c2cc7;
    align-items: center;
    justify-content: center;
}

#game-over-text {
    text-align: center;
}

#game-over-text h4 {
    color: #ff7575;
    font-size: 35px;
}


#level-won-menu {
    display: block;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: #2c2c2cc7;
    align-items: center;
    justify-content: center;
}

#level-won-text {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100vw;
}

#level-won-text h4 {
    color: #9C27B0;
    font-size: 35px;
    margin-top: 15vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#levels {
    display: inline-block;
}

#current-score {
    margin: 0;
    margin-top: 6px;
    font-size: 20px;
    color: white;
    border-top: 2px solid;
    width: 96%;
}

#final-score, #level-won-select-power-up-header{
    font-size: 30px;
    color: #d7d7d7;
    margin: 5px;
}

#level-won-select-power-up-header, #game-over-select-power-up-header{
    font-size: 30px;
    color: #d7d7d7;
    margin: 5px;
}

#power-up-group {
    font-size: 25px;
    color: #ff5fc6;
}

#next-level, #reset-game {
    border: none;
    padding: 12px;
    background: linear-gradient(45deg, #8750f6, #00b7c0);    color: white;
    border-radius: 20px;
    margin-top: 32px;
}

#mobile-invincibility {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    background: #80808094;
    border-radius: 50%;
}